.controllers {
    padding-left: 10px;
    padding-right: 10px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.icon {
    color:#755953;
}


.play__pause .icon {
    background-color: #fcdbd1;
    padding: 8px 16px;
    border-radius: 10px;
}

.controllers div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.hidden {
    visibility: hidden;
}