.songListItem img {
    width: 80px;
}

.songListItem {
    /* border: 2px solid #f9dcd2; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; border-radius: 10px;
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.songListItem p {
    
    padding: 0px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.songListItem .name {
    font-size: 14px;
}

.songListItem .singer {
    font-size: 10px;
}